body{
    font-family: monospace !important;
    background-color: #CDDEE5;
     background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 0000;
}
.container{
    padding-right: 0%;
    padding-left: 0%;
}
.row{
    padding-top: 30px;
}
h1{
    letter-spacing: 7px;
    color: #32576C;
    font-size: 60px;
}
#first_step{
    padding-left: 10%;
}

h2{
    text-align: left !important;
    letter-spacing: 7px;
    color: #6F7779; 
}
display_none {
    display: none;
}

header{
    position: relative;
    text-align: center;
   
}

.crimetype{
    text-align: center;
    padding: 15px;
}
button {
    text-align: center;
    color: #32576C !important;
    
}

/*------------------------------------PIE CHART----------------------------*/

#containerPiechart{
    margin-top: 20px;
    position: relative;
    left: 8%;
}
#underThePieChartOffendersCount{
    color: red;
}
#underThePieChartVictimsCount{
    color: white;
}
.pieFontColor{
    color: black;
}
.dc-chart .pie-slice {
    fill: black;
}
/*------------------------------------FORM----------------------------*/
.container.form.one{
    margin-left: 20px;
    background-color: rgb(73, 73, 73);
    background: rgb(117, 117, 117); 
    background: rgba(197, 197, 197, 0.192);
    width: 330px;
    padding-left: 20px;
    padding-bottom: 10px;
    position: relative;
    left: 30%;
}
.form.one{
    display: none;
    color: #6F7779;
}

/*------------------------------------COMPOSITE CHART----------------------------*/

#containerComposite{
    height: inherit;
    padding-left: 20px;
    left: 65%;
    background-color: rgb(73, 73, 73);
    background: rgb(117, 117, 117); 
    background: rgba(197, 197, 197, 0.192);
    overflow-y: scroll !important;
    max-width: 400px !important;
    padding-left: 0px;
    padding-top: 20px;
    margin-top: 20px;
    display: none;
}

#containerResults{
    margin-bottom: 20px;
} 
/*------------------------------------DATA----------------------------*/

.results {
    background-color: rgb(73, 73, 73);
    background: rgb(117, 117, 117); 
    background: rgba(197, 197, 197, 0.192);
    width: 330px;
    color: #6F7779;;
    padding: 10px 15px 10px 15px;
    overflow-y: scroll !important;
    max-height: 200px !important;
    margin-left: 20px;
}
#containerResults{
    display: none;
}
/*------------------------------------BIG SCORES----------------------------*/

.bigScores {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-right: 20px;
    text-decoration: #32576C;
}

/*------------------------------------SCALING----------------------------*/
@media (max-width: 1200px){

#containerPiechart{
    left: 5%;
}
.secondrow{
    width: 80%;
}
}
@media (max-width: 770px){
    #second_step{
        padding-left: 10%;
    }
}
@media (max-width: 425px){
    .container.form.one{
        position: relative;
        left: 0%;
    }
    #containerComposite{ 
        width: 600px;   
        left: 0%;
    }
    #containerPiechart{
        width: 330px;    
        left: 0%;
    }
    .bigScores {
        margin-top: 20px;
    }
    }